@use 'mixins';

.portfolio__header {
	grid-column: 1 / 3;
	grid-row: 1 / 2;

	@include mixins.responsive(md) {
		grid-column: 1 / 4;
		padding-left: 2.5rem;
	}

	@include mixins.responsive(lg) {
		padding-left: 3rem;
	}

	.title {
		color: var(--text-color);
		font-size: 1.8rem;
		line-height: 1.2;
		margin-bottom: 1rem;
		text-align: center;

		@include mixins.responsive(md) {
			font-size: 2.5rem;
			text-align: right;
		}

		@include mixins.responsive(lg) {
			font-size: 2.6rem;
		}

		@include mixins.responsive(xl) {
			font-size: 3.75rem;
		}
	}

	.links {
		display: flex;
		gap: 1rem;
		justify-content: flex-end;
		list-style: none;
		padding-right: 0.5rem;
	}

	.link,
	.link:active,
	.link:visited {
		color: var(--text-color);
		display: block;
		font-size: 1.5rem;
		line-height: 1;
		transition: all 0.2s;

		&:hover {
			transform: scale(1.2);
		}
	}
}
